@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #050816;
}

body {
  font-family: Inter, sans-serif;
}
@media print {

  body * {
    visibility: hidden;
  }

  #pdf-report,
  #pdf-report * {
    visibility: visible;
  }

  #pdf-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
  }

}